.home-page {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: stretch;
    padding: 150px 0;
    text-align: center;
}
.home-page {
    width: 50%;
    margin: 0 auto;
}
.home-page img {
    width: 100%;
}
.home-content .get-started{
    padding: 20px 0 65px 0;
    line-height: 19.5px;
    font-size: 13px;
}